{
  "trailingComma": "none",
  "useTabs": true,
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 70,
        "useTabs": false,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "proseWrap": "never"
      }
    },
    {
      "files": "*.{json,babelrc,eslintrc,remarkrc,prettierrc}",
      "options": {
        "useTabs": false
      }
    }
  ]
}
