# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

**/staticresources/**
.localdevserver
.sfdx
.vscode

coverage/
bower_components/
node_modules/
jspm_packages/
dist/
build/
lib-cov
.nyc_output
.gitattributes
.gitignore
.env
.env.build
.env.test
.npm
.npmrc
yarn
.yarn-integrity
.yarnclean
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
logs
*.log
*.min.js
*.min.css
.editorconfig
.eslintignore
.markdownlintignore
.prettierignore
.sfdx/
